@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



.bg-primary{
    background-color: #5f6FFF;
}
.text-primary{
    color: #5f6FFF;
}

.active hr {
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

.gridTemplateColumn{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
/* .gridTemplateColumn{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
} */

@media (max-width: 768px){
    .active p{
        @apply text-white bg-[#5f6FFF]
    }
}